@import "tailwindcss";

h1 {
  @apply text-4xl font-bold mb-2;
}

h2 {
  @apply text-2xl font-bold mb-6;
}

h3 {
  @apply text-xl font-bold mb-2;
}

h4 {
  @apply font-bold mb-2;
}

p {
  @apply text-gray-600 mb-4;
}

pre {
  @apply bg-gray-100 p-4 rounded overflow-auto mb-4;
}